/build/
/postgresql/
.idea
/venv/
.DS_Store
.vscode
/local_scripts/
/postgres-data/
/databaseBackups/
/databaseData/
/pgdata/
databaseData/*
filestore/*
logs/*
backups/*
__pycache__
/logs/
/filestore/
/tools/fr-subset.geojsons.gz
/tools/fr-subset.geojsons
